.divLogin{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
}

.bodyLogin{
	background-color:#87CEFA;
}
.divBtnEntrar{
	text-align:center;
	width:100%;
	margin-top:10px;
}
.barraLadoEsquerdo{
	position:absolute;
	top:50px;
	float:left;
	width:15%;
	/*background-color:#333;*/
	height: 93%;
}
.corpoDireito{
	top:50px;
	position:absolute;
	float:right;
	width:85%;
}
.menuEsquerdo{
	width:100%;
}
.imagemPerfil{
	width:inherit;
}
main{
	float:right;
	width :85%;
}
.bodyDados{
	margin:30px;
}
.divCampos{
	margin: 5px;
}
.tableTelefone tbody{
	cursor:pointer;
}
.tableTelefone tbody tr:hover{
	background-color:#d3d3d3;
}
.tableGaleria tbody{
	cursor:pointer;
}
.tableGaleria tbody tr:hover{
	background-color:#d3d3d3;
}
.imagemGaleria{
	margin: 10px;
	width:inherit;
	border:10px solid #333;
	border-radius:10px;
}
.divCentro{
	text-align:center;
}
.paginacaoTelefone{
	width:100%;
	text-align:center;
}

